body {
    /*background-color: #131418 !important;*/
    /*font-family: "Helvetica Neue", sans-serif;*/
    /*font-weight: lighter;*/
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

main {
    background-color: #131418 !important;
}

.navbar a {
    color: white;
}

.navbar-nav {
    padding-right: 40px;
}

.navbar .nav-item {
    padding: 16px 40px;
}

.navbar .nav-item .nav-link {
    font-size: 16px;
}

.navbar.fixed-top.scrolled {
    background-color: #1e1f26 !important;
    transition: background-color 200ms linear;
}

.navbar.transparent.navbar-inverse {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%, rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.Portfolio {

    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    transition-duration: 0.4s;
    /*animation: winanim 0.5s;*/
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.Portfolio:hover {
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    /* margin-left: 100px; */
    /* margin-top: -60px; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    /*opacity: 0.5;*/
    /*transition: opacity 1s ease;*/
    z-index: 200;
}

.Portfolio:hover .game_info {
    /*visibility: visible;*/
    /*opacity: 1;*/
}

.Portfolio img {
    width: 100%;
    height: auto;
    border-radius: 5px
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background: black;
    color: hotpink
}

.Portfolio .icon {
    height: 50px;
    width: 50px;
}

.Portfolio .game_info {
    /*opacity: 0;*/
    position: absolute;
    top: 35%;
    right: 45%;
}

.show_more-input {
    /*border: 2px;*/
}

#price td {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

#price table {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}

#price th {
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

#price td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
    font-weight: bold;
}

#price tr:hover td {
    color: #6699ff;
}

.about_info {
    margin: auto;
    width: 50%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #fff;
}

.contacts_tels {
    color: #fff;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 50rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

/*@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }*/
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#slide {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    /*transition: 1s;*/
}

.wrapper:hover #slide {
    visibility: visible;
    transition: 1s;
    opacity: 0.8;
    top: 0;
}

#games {
    padding-top: 1px;
}

.footer-color {
    background-color: #131418 !important;
}

.footer-copyright {
    background-color: #212121 !important;
}

#contacts iframe {
    width: 100%;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}